{% extends 'base.html' %} 
{% load static %} 
<link rel="stylesheet" href="{% static 'css/horses/horse-detail.css' %}" />

{% block content %}

<div class="page-header">
      <h2>Are you sure you want to delete {{object.horse.name}}'s {{object.date}} feeding?</h2>
      <img
        src="{% static 'images/hay_8849969.png' %}"
        alt="Hay is for horses"
      />
      <img 
        src="{% static 'images/carrot_1860544.png' %}" 
        alt="Carrot" 
      />
</div>

<form action="" method="post" class="form">
  {% csrf_token %}
  <a href="{% url 'horse-detail' horse_id=object.horse.pk %}" class="btn secondary"> Cancel </a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %}
